<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon (click)="this.sideNav.open()"  *ngIf="!sideNav?.opened">menu</mat-icon>
      <mat-icon (click)="this.sideNav.close()" *ngIf="sideNav?.opened">close</mat-icon>
  </button>
    <span>ForBtkAkademi-NewsApp</span>

    <span class="example-spacer"></span>
    <button *ngIf="!radioService.isPlaying()" mat-button color="accent" (click)="play()">Play Radio</button>
    <button *ngIf="radioService.isPlaying()" mat-button color="accent" (click)="stop()">Stop Radio</button>
    <a *ngIf="!isLogged" mat-stroked-button color="accent" (click)="logOut()">Logout</a>
   
</mat-toolbar>

